/* Bom dia css. vamos fazer um bom trabalho juntos! */

* {
     font-family: 'Montserrat', sans-serif;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

header {
     color: #989D9C;
     margin: 44px 0 144px 76px;
     font-size: 24px;
     cursor: pointer;

}

.link-header {
     margin-right: 23px;
}




.login-button {
     color: #FFF;
     font-size: 24px;
     font-weight: 600;
     width: 130px;
     height: 41px;
     margin-top: 38px;
     background-color: #665ae1;
     border: none;
     border-radius: 50px;
     cursor: pointer;

}

img {
     margin-left: 125px;
     display: inline-block;
     color: #515151;
}

section {
     display: inline-block;
     margin-left: 86px;
}

h1 {
     color: #515151;
     font-size: 100px;
     font-weight: 9 00;
     line-height: normal;
}

h2 {
     color: #515151;
     font-size: 58px;
     font-weight: 500;
     line-height: normal;
}

p {
     color: #848484;
     font-size: 24px;
     font-weight: 400;
     line-height: normal;
     width: 515px;
     margin-top: 32px;
}

button {
     color: #000;
     font-size: 28px;
     font-weight: 700;
     line-height: normal;
     border-radius: 50px;
     border: none;
     cursor: pointer;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     background: #ADFF00;
     width: 239px;
     height: 64px;
     margin-top: 65px;
}

@media screen and (max-width: 800px) {

     header {
          display: none;
     }

     img {
          width: 354px;
          height: 317px;
          text-align: center;
          margin-left: 22px;
          margin-right: 22px;
          margin-top: 150px;
     }

     h1 {
          width: 263px;
          height: 52px;
          text-align: center;
          color: #515151;
          font-family: Montserrat;
          font-size: 50px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          position: absolute;
          left: 63.5px;
         
     }
     h2 {
          width: 232px;
          height: 37px;
          text-align: center;
          color: #515151;
          font-family: Montserrat;
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          position: relative;
          top: 55px;     
     }
     p{
          display: none;
     }
     button{
          width: 239px;
          height: 64px;
          flex-shrink: 0;
          margin-bottom: 133px;
          text-align: center;
     }
}